.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding: 12px;
    background-color: #f7f7f7;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.footer__left, .footer__right, .footer__rightIconText{
    display: flex;
    align-items: center;
    align-content: space-between;
}

.footer__left > p {
    margin-left: 50px;
    font-size: 15px;
    opacity: .8;
}
.footer__left > p > a:hover {
    text-decoration: underline;
}

.footer__rightLangIcon {
    margin-right: 5px;
    width: 20px !important;
    opacity: .8 !important;
}

.footer__right > a {
    font-size: 14px;
    margin-right: 20px;
    font-weight: 600;
    opacity: .8;
}
.footer__right > a:hover, .footer__rightIconText > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer__rightIconText{
    font-size: 14px;
    margin-right: 50px;
    font-weight: 600;
    opacity: .8;
}

@media screen and (max-width: 575px) {
    .footer{
        padding: 12px;
        width: 116vw;
    }

    .footer__right > a {
        font-size: 13px;
        margin-right: 20px;
    }
    .footer__rightIconText{
        font-size: 13px;
    }
    .footer__left > p {
        font-size: 13px;
    }
    
}